{% extends 'home.html' %}
    
{% block content %}

<div class="container mt-4">
    <form method="POST" action="{{ url_for('addQuestion') }}">
        <div class="row1">
            <!-- Container 1: Upload Image -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="uploadImage">Upload Image</label>
                    <input type="file" class="form-control-file" id="uploadImage">
                </div>
            </div>
        </div>

        <div class="row2">
            <!-- Container 2: Question Input, Tag, Category, Create Table -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="questionInput">Question</label>
                    <input type="text" class="form-control" id="questionInput" name="questionInput">
                </div>
                <div class="form-group">
                    <label for="subjectDropdown">Subject</label>
                    <select class="form-control" id="subjectDropdown" name="subjectDropdown">
                        <option value="Anatomy">Anatomy</option>
                        <option value="tag2">Bio Mechanics</option>
                        <option value="tag3">Lymphatics</option>
                        <option value="tag4">H.E.E.N.T</option>
                        <option value="tag5">Cardiopulmonary</option>
                        <option value="tag6">Gastrointestinal</option>
                        <option value="tag7">Pregnancy</option>
                        <option value="tag8">Pediatrics</option>
                        <option value="tag9">Orthopedics/Gait</option>
                    </select>
                </div>
                <button class="btn btn-primary">Create Table</button>
            </div>
        </div>

        <div class="row3">
            <!-- Container 3: Answers -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="answer1">Answer 1</label>
                    <input type="text" class="form-control" name="answer1" id="answer1">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="correctAnswer1" id="correctAnswer1">
                        <label class="form-check-label" for="correctAnswer1">Correct</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="answer2">Answer 2</label>
                    <input type="text" class="form-control" name="answer2" id="answer2">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="correctAnswer2" id="correctAnswer2">
                        <label class="form-check-label" for="correctAnswer2">Correct</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="answer3">Answer 3</label>
                    <input type="text" class="form-control" name="answer3" id="answer3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="correctAnswer3" id="correctAnswer3">
                        <label class="form-check-label" for="correctAnswer3">Correct</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="answer1">Answer 4</label>
                    <input type="text" class="form-control" name="answer4" id="answer4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="correctAnswer4" id="correctAnswer4">
                        <label class="form-check-label" for="correctAnswer4">Correct</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row4">
            <!-- Container 4: Explanation Input, Upload Image, Submit Question -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="explanationInput">Explanation</label>
                    <input type="text" class="form-control" id="explanationInput" name="explanationInput">
                </div>
                <div class="form-group">
                    <label for="uploadExplanationImage">Upload Image</label>
                    <input type="file" class="form-control-file" id="uploadExplanationImage">
                </div>
                <button class="btn btn-success">Submit Question</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
