{% extends 'home.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="searchQuestionID">Search for a question based on its ID:</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="text" class="form-control form-control-sm" name="searchQuestionID" id="searchQuestionID">
            </div>
        </div>
        <button class="btn btn-danger">Search</button>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="subjectDropdown">Tags</label>
                <select class="form-control" id="tagDropdown" name="tagDropdown">
                    <option value="tag1">Head</option>
                    <option value="tag2">Cervical</option>
                    <option value="tag3">Thoracic</option>
                    <option value="tag4">Lumber</option>
                    <option value="tag5">Pelvis</option>
                    <option value="tag6">Sacrum</option>
                    <option value="tag7">Lower Extremity</option>
                    <option value="tag8">Upper Extremity</option>
                    <option value="tag9">Ribs</option>
                    <option value="tag9">Abs</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="questionsList"></div>
    </div>
</div>
{% endblock %}
