{% extends 'home.html' %}

{% block content %}
<form method="POST" action = "{{ url_for('searchQuestion') }} ">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="searchQuestionID">Search for a question based on its ID:</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="text" class="form-control form-control-sm" name="searchQuestionID" id="searchQuestionID">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="tagDropdown">Tags</label>
                <select class="form-control" id="tagDropdown" name="tagDropdown">
                    <option value="head">Head</option>
                    <option value="cervical">Cervical</option>
                    <option value="thoracic">Thoracic</option>
                    <option value="lumber">Lumber</option>
                    <option value="pelvis">Pelvis</option>
                    <option value="sacrum">Sacrum</option>
                    <option value="lower extremity">Lower Extremity</option>
                    <option value="upper extremity">Upper Extremity</option>
                    <option value="ribs">Ribs</option>
                    <option value="abs">Abs</option>
                </select>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Search">
    </div>
   
    <div class="row" id="searchResults">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Question ID</th>
                    <th>Question Text</th>
                    <th>Question Tag</th>
                </tr>
            </thead>
            <tbody>
                {% for question in tagQuestions[:4] %}
                <tr>
                    <td class="smaller-font">{{ question['questionID'] }}</td>
                    <td class="smaller-font">{{ question['questionText'] }}</td>
                    <td class="smaller-font">{{ question['tag'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
</form>

<style>
    /* Define a CSS class for reducing font size */
    .smaller-font {
        font-size: 15px; /* You can adjust the size as needed */
    }
</style>
{% endblock %}
